In [31]:
#Import the libraries: 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### SQL Queries and Methodology:

With such a big and interconnected database, this project called for precise and accurate joining of tables. Because there was no data-dictionary provided for this project, it was difficult to ascertain if tables primary and foreign keys would match up correctly.

In [ ]:
# The SQL query for df, csv import: 

'''SELECT Orders.orderId, Orders.customerId, c.source, ct.createdAt AS CreditTransDTS,Orders.submittedDTS, i.packageQty, i.creditPackageId, i.amount, 
ct.creditsBefore, ct.creditsAfter, ct.creditAmount, ct.bonusBefore, ct.bonusAfter, ct.bonusAmount, 
ct.isSubscriptionFee, s.subscriptionTypeId, s.isCanceled AS SubCanceled 
FROM Orders 
JOIN CreditTransactions ct ON Orders.orderId = ct.orderId 
JOIN Invoices i ON ct.invoiceId = i.invoiceId 
LEFT OUTER JOIN Subscriptions s ON ct.accountCreditId = s.accountCreditId 
LEFT OUTER JOIN Customers c ON Orders.customerId = c.customerId'''

In [34]:
#Import the csv to a pandas df

df = pd.read_csv('data/credittransactionsorder2.csv')

In [35]:
#Check for nulls:

df.isnull().sum()

orderId                  0
customerId               0
source                8909
CreditTransDTS           0
submittedDTS             0
packageQty            2295
creditPackageId       2296
amount                   2
creditsBefore            0
creditsAfter             0
creditAmount             0
bonusBefore              0
bonusAfter               0
bonusAmount              0
isSubscriptionFee        0
subscriptionTypeId       5
SubCanceled              5
dtype: int64

In [36]:
#fill nulls with -99

df['customerId'].fillna(-99, inplace = True)

In [37]:
#Convert customerId to int64

df['customerId'] = df['customerId'].astype('int64')

In [38]:
#Double check the conversion occured

df.dtypes

orderId                 int64
customerId              int64
source                 object
CreditTransDTS         object
submittedDTS           object
packageQty            float64
creditPackageId       float64
amount                float64
creditsBefore           int64
creditsAfter            int64
creditAmount            int64
bonusBefore             int64
bonusAfter              int64
bonusAmount             int64
isSubscriptionFee       int64
subscriptionTypeId    float64
SubCanceled           float64
dtype: object

In [39]:
df.groupby(by = ['customerId']).sum()

,orderId,packageQty,creditPackageId,amount,creditsBefore,creditsAfter,creditAmount,bonusBefore,bonusAfter,bonusAmount,isSubscriptionFee,subscriptionTypeId,SubCanceled
customerId,,,,,,,,,,,,,
7,16958,10.0,2.0,30.0,0,10,10,0,0,0,0,16.0,0.0
8,67637,12.0,3.0,36.0,6,6,0,0,0,0,0,24.0,0.0
9,405589,16.0,16.0,48.0,0,16,16,0,0,0,0,128.0,0.0
16,162096,2.0,6.0,598.0,32,372,340,0,0,0,0,15.0,2.0
27,44407,13.0,3.0,39.0,4,17,13,0,0,0,0,24.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
113569,120555,1.0,28.0,40.0,10,20,10,0,0,0,0,8.0,0.0
114716,119731,2.0,28.0,80.0,0,20,20,5,0,0,0,8.0,0.0
115013,119815,1.0,29.0,100.0,0,50,50,5,0,0,0,8.0,0.0
115890,120327,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0
117062,120877,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0

In [67]:
df_last_date = df.sort_values(['customerId','CreditTransDTS']).drop_duplicates(subset='customerId', keep='last')

In [68]:
df_last_date

,orderId,customerId,source,CreditTransDTS,submittedDTS,packageQty,creditPackageId,amount,creditsBefore,creditsAfter,creditAmount,bonusBefore,bonusAfter,bonusAmount,isSubscriptionFee,subscriptionTypeId,SubCanceled
65,8490,7,NaN,2015-07-27 13:00:52,2015-07-27 13:00:39,2.0,1.0,6.0,0,2,2,0,0,0,0,8.0,0.0
2973,29848,8,NaN,2016-12-08 05:39:42,2016-12-08 05:39:29,5.0,1.0,15.0,0,5,5,0,0,0,0,8.0,0.0
3310,33855,9,NaN,2017-01-23 17:03:28,2017-01-23 17:03:18,1.0,1.0,3.0,0,1,1,0,0,0,0,8.0,0.0
14728,81048,16,NaN,2018-11-15 22:38:13,2018-11-15 22:36:45,1.0,3.0,299.0,16,186,170,0,0,0,0,8.0,1.0
2402,25825,27,NaN,2016-10-09 23:01:35,2016-10-09 23:01:15,1.0,1.0,3.0,2,3,1,0,0,0,0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20038,120555,113569,site,2021-02-25 19:07:28,2021-02-25 19:04:55,1.0,28.0,40.0,10,20,10,0,0,0,0,8.0,0.0
19987,119731,114716,NaN,2021-02-08 00:46:52,2021-02-08 00:33:10,2.0,28.0,80.0,0,20,20,5,0,0,0,8.0,0.0
19988,119815,115013,shopify,2021-02-09 16:50:22,2021-02-09 16:49:57,1.0,29.0,100.0,0,50,50,5,0,0,0,8.0,0.0
20035,120327,115890,shopifyResize,2021-02-20 23:47:36,2021-02-20 23:41:50,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0
20052,120877,117062,shopifyResize,2021-03-05 00:05:06,2021-03-05 00:04:27,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0

In [69]:
#Find the first date

df_date_first = df.sort_values(['customerId','CreditTransDTS']).drop_duplicates(subset='customerId')

In [70]:
#Check that it's the first date

df_date_first

,orderId,customerId,source,CreditTransDTS,submittedDTS,packageQty,creditPackageId,amount,creditsBefore,creditsAfter,creditAmount,bonusBefore,bonusAfter,bonusAmount,isSubscriptionFee,subscriptionTypeId,SubCanceled
60,8468,7,NaN,2015-07-26 17:09:36,2015-07-26 17:06:36,8.0,1.0,24.0,0,8,8,0,0,0,0,8.0,0.0
28,7975,8,NaN,2015-07-07 23:11:08,2015-07-07 23:11:01,6.0,1.0,18.0,6,0,-6,0,0,0,0,8.0,0.0
1251,17437,9,NaN,2016-04-04 23:06:46,2016-04-04 23:04:28,1.0,1.0,3.0,0,1,1,0,0,0,0,8.0,0.0
14727,81048,16,NaN,2018-11-15 22:38:13,2018-11-15 22:36:45,1.0,3.0,299.0,16,186,170,0,0,0,0,7.0,1.0
174,9291,27,NaN,2015-08-28 15:43:10,2015-08-28 15:41:52,6.0,1.0,18.0,2,8,6,0,0,0,0,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20038,120555,113569,site,2021-02-25 19:07:28,2021-02-25 19:04:55,1.0,28.0,40.0,10,20,10,0,0,0,0,8.0,0.0
19987,119731,114716,NaN,2021-02-08 00:46:52,2021-02-08 00:33:10,2.0,28.0,80.0,0,20,20,5,0,0,0,8.0,0.0
19988,119815,115013,shopify,2021-02-09 16:50:22,2021-02-09 16:49:57,1.0,29.0,100.0,0,50,50,5,0,0,0,8.0,0.0
20035,120327,115890,shopifyResize,2021-02-20 23:47:36,2021-02-20 23:41:50,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0
20052,120877,117062,shopifyResize,2021-03-05 00:05:06,2021-03-05 00:04:27,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0

In [71]:
df_full = df.sort_values(['customerId','CreditTransDTS'])

In [74]:
#Add the last date to first date dataset:

df_date_first['finalTransDate'] = df_last_date['CreditTransDTS'].values

In [82]:
#Convert to DateTime in order to perform DateTime calculations: 

df_date_first['finalTransDate'] = df_date_first['finalTransDate'].astype('datetime64')
df_date_first['CreditTransDTS'] = df_date_first['CreditTransDTS'].astype('datetime64')

In [83]:
df_date_first.dtypes

orderId                        int64
customerId                     int64
source                        object
CreditTransDTS        datetime64[ns]
submittedDTS                  object
packageQty                   float64
creditPackageId              float64
amount                       float64
creditsBefore                  int64
creditsAfter                   int64
creditAmount                   int64
bonusBefore                    int64
bonusAfter                     int64
bonusAmount                    int64
isSubscriptionFee              int64
subscriptionTypeId           float64
SubCanceled                  float64
finalTransDate        datetime64[ns]
dtype: object

In [84]:
df_date_first

,orderId,customerId,source,CreditTransDTS,submittedDTS,packageQty,creditPackageId,amount,creditsBefore,creditsAfter,creditAmount,bonusBefore,bonusAfter,bonusAmount,isSubscriptionFee,subscriptionTypeId,SubCanceled,finalTransDate
60,8468,7,NaN,2015-07-26 17:09:36,2015-07-26 17:06:36,8.0,1.0,24.0,0,8,8,0,0,0,0,8.0,0.0,2015-07-27 13:00:52
28,7975,8,NaN,2015-07-07 23:11:08,2015-07-07 23:11:01,6.0,1.0,18.0,6,0,-6,0,0,0,0,8.0,0.0,2016-12-08 05:39:42
1251,17437,9,NaN,2016-04-04 23:06:46,2016-04-04 23:04:28,1.0,1.0,3.0,0,1,1,0,0,0,0,8.0,0.0,2017-01-23 17:03:28
14727,81048,16,NaN,2018-11-15 22:38:13,2018-11-15 22:36:45,1.0,3.0,299.0,16,186,170,0,0,0,0,7.0,1.0,2018-11-15 22:38:13
174,9291,27,NaN,2015-08-28 15:43:10,2015-08-28 15:41:52,6.0,1.0,18.0,2,8,6,0,0,0,0,8.0,0.0,2016-10-09 23:01:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20038,120555,113569,site,2021-02-25 19:07:28,2021-02-25 19:04:55,1.0,28.0,40.0,10,20,10,0,0,0,0,8.0,0.0,2021-02-25 19:07:28
19987,119731,114716,NaN,2021-02-08 00:46:52,2021-02-08 00:33:10,2.0,28.0,80.0,0,20,20,5,0,0,0,8.0,0.0,2021-02-08 00:46:52
19988,119815,115013,shopify,2021-02-09 16:50:22,2021-02-09 16:49:57,1.0,29.0,100.0,0,50,50,5,0,0,0,8.0,0.0,2021-02-09 16:50:22
20035,120327,115890,shopifyResize,2021-02-20 23:47:36,2021-02-20 23:41:50,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0,2021-02-20 23:47:36
20052,120877,117062,shopifyResize,2021-03-05 00:05:06,2021-03-05 00:04:27,1.0,28.0,40.0,0,10,10,0,0,0,0,8.0,0.0,2021-03-05 00:05:06

In [85]:
df_date_first['dateDifference'] = (df_date_first['finalTransDate'] - df_date_first['CreditTransDTS']).dt.days

In [87]:
df_date_first[df_date_first['SubCanceled'] == 1]

,orderId,customerId,source,CreditTransDTS,submittedDTS,packageQty,creditPackageId,amount,creditsBefore,creditsAfter,creditAmount,bonusBefore,bonusAfter,bonusAmount,isSubscriptionFee,subscriptionTypeId,SubCanceled,finalTransDate,dateDifference
14727,81048,16,NaN,2018-11-15 22:38:13,2018-11-15 22:36:45,1.0,3.0,299.0,16,186,170,0,0,0,0,7.0,1.0,2018-11-15 22:38:13,0
1504,19541,330,NaN,2016-05-21 17:00:05,2016-05-21 16:59:37,3.0,1.0,9.0,0,0,3,0,0,0,0,7.0,1.0,2019-07-02 19:57:20,1137
473,11312,414,NaN,2015-11-05 09:55:56,2015-11-05 09:07:58,1.0,3.0,299.0,10,180,170,0,0,0,0,7.0,1.0,2019-12-01 04:33:47,1486
15169,83066,883,NaN,2018-12-19 17:01:47,2018-12-19 16:58:58,17.0,1.0,51.0,0,17,17,0,0,0,0,7.0,1.0,2019-05-29 15:43:26,160
923,14978,1112,NaN,2016-02-07 23:34:24,2016-02-07 23:33:46,1.0,2.0,79.0,0,40,40,0,0,0,0,7.0,1.0,2020-03-23 11:07:16,1505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19642,116045,95617,shopifyResize,2020-11-05 08:49:15,2020-11-05 08:48:15,1.0,22.0,95.0,14,114,100,0,0,0,0,7.0,1.0,2021-01-05 10:08:53,61
19609,115475,102848,shopifyResize,2020-10-23 03:43:24,2020-10-23 03:30:45,1.0,30.0,190.0,0,0,100,0,0,0,0,7.0,1.0,2020-10-23 03:43:24,0
19651,116147,104960,site,2020-11-07 19:32:18,2020-11-07 19:31:58,1.0,22.0,95.0,0,100,100,3,0,0,0,7.0,1.0,2020-11-12 00:52:16,4
19811,117678,110538,shopify,2020-12-15 12:03:45,2020-12-15 12:03:18,2.0,28.0,80.0,0,0,20,3,0,0,0,7.0,1.0,2020-12-15 12:03:45,0
19881,118122,110944,NaN,2020-12-31 16:54:32,2020-12-30 23:39:56,1.0,21.0,50.0,0,50,50,2,0,0,0,7.0,1.0,2020-12-31 16:54:32,0